nav a {
    border: 3px solid black;
    font-size: 50px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content {
    background-color: yellow;
    height: 100vh;
}

/* main, header, footer { */
    /* background-color: olive;
} */

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

body {
    margin: 0 auto 0 auto;
    width: 50%;
    background-color: blue;
}

.testimonial-flex-container {
    display: flex;
    justify-content: space-around;
}

.testimonial-flex-container p {
    width: 80px;
}